<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cont. Mantenimiento</title>
    <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!--personalización-->
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
</head>

<body>
    <!-- barra de navegacion -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Control de Mantenimiento</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto">
                <a class="nav-link active" href="/">Inicio</a>
                <a class="nav-link" href="{{  url_for('tabla')  }}">Lista</a>
                <a class="nav-link active" href="{{  url_for('graficos')  }}">Graficos</a>
                <a class="nav-link active" href="{{  url_for('info')  }}">Sobre</a>

        </div>
        </div>
    </nav>
    <div class="container p-4">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>