{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}

{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}

{% endwith %}

<hr class="my-4">
<p class="lead">LISTA DE DATOS.</p>
<hr class="my-4">

<form action="/nuevo" method="POST">
    <small class="form-text text-muted">Ingrese Equipo</small>
    <input type="text" class="form-control" style="width:20%" name="equipo">
    <small class="form-text text-muted">Tarea: 1.- Mant.Preventivo 2.-Mant.Correctivo 3.-Mant.Emergencia</small>
    <input type="number" class="form-control" style="width:20%" name="tarea">
    <small class="form-text text-muted">Operario</small>
    <input type="text" class="form-control" style="width:20%" name="operario">
    <small class="form-text text-muted">Hs. Trabajadas</small>
    <input type="number" class="form-control" style="width:20%" name="hstrabajadas">
    <div>
        <button class="btn btn-primary" style="width:20%">Cargar</button>
    </div>
</form>

<div>
    <table style="width:100%" border=2>
        <thead cellpadding="10.0" cellspacing="10.0">
            <tr>
                <th>Fecha</th>
                <th>Equipo</th>
                <th>Tarea</th>
                <th>Operario</th>
                <th>Hs. trab.</th>
            </tr>
            {% for maquinas in datos %}
            <tr></tr>
            <td>{{row}}{{maquinas.horario}}</td>

            <td>{{row}}{{maquinas.equipo}}</td>

            <td>{{row}}{{maquinas.tarea}}</td>

            <td>{{row}}{{maquinas.operario}}</td>

            <td>{{row}}{{maquinas.hs_trabajadas}}</td>
            <div>
                <td><a href="{{url_for('actualizar', id=maquinas.id)}}" class="btn btn-primary">Editar</a></td>
                <td><a href="{{url_for('borrar', id=maquinas.id)}}" class="btn btn-primary">Borrar</a></td>
                </tr>

                {% endfor %}
        </thead>
    </table>
</div>

{% endblock %}
</div>